html {
    text-rendering: optimizeLegibility;
    font-size: 10px;
    //	clear: both;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 992px) {
        font-size: 18px;
    }
}

.text-large {
    font-family: 'SuisseIntl-CondSemiBold';
    letter-spacing: -0.025em;
    font-size: 8em;
    line-height: 1.04em;
}

h1 {
    font-family: 'SuisseIntl-CondSemiBold';
    text-transform: uppercase;
    font-size: 5em;
    line-height: 1.04em;
}

h2 {
    font-family: 'SuisseIntl-SemiBold';
    font-size: 4em;
    line-height: 1.12em;
}

h3 {
    font-family: 'SuisseIntl-SemiBold';
    font-size: 3em;
    line-height: 1.17em;
}

.date,
.time,
.subhead {
    font-family: 'SuisseWorks-RegularItalic';
    font-size: 2.4em;
    line-height: 1.15em;
}

p {
    font-family: 'SuisseIntl-Book';
    font-size: 2.4em;
    line-height: 1.21em;
}

.text-small {
    font-family: 'SuisseIntl-Light';
    font-size: 2em;
    line-height: 1.3em;
    letter-spacing: 0.025em;
}
