body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

//  large, h1
@font-face {
    font-family: SuisseIntl-CondSemiBold;  
    src: url("fonts/SuisseIntl-CondSemiBold.woff2");   
}

//  h2, h3
@font-face {
    font-family: SuisseIntl-SemiBold;  
    src: url("fonts/SuisseIntl-SemiBold.woff2");   
}

//  dates, times, subheaders
@font-face {
    font-family: SuisseWorks-RegularItalic;  
    src: url("fonts/SuisseWorks-RegularItalic.woff2");   
}

//  p
@font-face {
    font-family: SuisseIntl-Book;  
    src: url("fonts/SuisseIntl-Book.woff2");   
}

//  small
@font-face {
    font-family: SuisseIntl-Light;  
    src: url("fonts/SuisseIntl-Light.woff2");   
}

@import "headings";

@import "copy";



//   Media Queries

@media all and (min-width: 1200px) {
    body {
        font-size: 8px;
    }
}

@media all and (min-width: 800px) and (max-width: 1199px) {
    body {
        font-size: 7px;
    }
}

@media all and (max-width: 799px) {
    body {
        font-size: 6px;
    }
}