// 404 STARTS HERE
.content-404 {
	height: 60vh;
	width: 80vw;
	margin: auto;
	margin-top: 5%;
	display: flex;
  justify-content: center;
  align-items: center;
	text-align: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('/wp-content/uploads/2019/06/404_Portshowlio.png');
}
.header-404{
	width: 50%;
	margin: auto;
	padding-top: 10%;
}
.page-content-404{
	display: flex;
	flex-direction: row;
	justify-content: center;
	h2{
		margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 11vw;
		color: $color__cyan;
	}
	p{
		padding-top: 3%;
		font-size: 1.5em;
		line-height: 28px;
		width: 45%;
    margin-right: 10%;
	}
}
.buttonWrapper{
	margin-top: 4em;
	
}


.mouse-warp-404{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	padding-top: 30%;
}

.event-button {
	background-color: black;
    color: #FBF9F4;
    border-radius: 0;
    border: none;
    height: 2.5em;
    width: 8.5em;
    font-family: 'SuisseIntl-Book';
    padding-top: 6px;
}

@media all and (max-width: 767px) {
	.mouse-warp-404{
		display: none;
	}
	.header-404{
		display: flex;
		width: 50%;
		margin: auto;
		padding-top: 10%;
		height: 80vh;
	}
	.page-content-404{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.page-content-404 p {
		padding-top: 3%;
		font-size: 1.5em;
		line-height: 28px;
		width: 80%;
		padding-bottom: 10%;
		margin: auto;
	}
	.buttonWrapper{
		a{
	    padding: 4% 7%;
		}
	}
}
@media all and (max-width: 484px){
	.page-content-404{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.page-content-404 p {
    padding-top: 3%;
    font-size: 1.5em;
    line-height: 28px;
    width: 100%;
    margin-right: auto;
	}
}

// FOOTER SCSS STARTS HERE
.ianfooter{
     background-color: #191919;
    height: auto;
    width: calc(100% - 30em);
    display: flex;
    margin-left: 30em;
    flex-direction: row;
    justify-content: center;
    flex-direction: row;
    padding: 4% 2%;
}
.ianfooter .fab {
	font-size: 35px;
	padding-bottom: 10%;
}
.ianfooter a .fab {
	color: $color__white;
}
// .ianfooter a .fab:hover {
// 	text-decoration: underline;
// }
.footersocial {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	.footerrow {
		display: flex;
		flex-direction: row;
		height: 50%;
		width: 100%;
		div {
			padding: 0 6%;
		}
	}
}

.socialoutline.scca.social_center {
	font-size: 13px;
	padding-right: 24px;
}

.footerthankyou{
	height: 100%;
	padding-right: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	text-transform: uppercase;
	// font-family: SuisseWorks-Regular;
		p{
		// font-family: SuisseWorks-Regular;
		font-size: 0.44em;
		text-transform: none;
		color: $color__white;
    line-height: 1.7em;
		margin: auto;
		}
}
.scca{
  a{
  text-decoration: none;
  color: $color__white;
	font-weight: bold;
  font-size: 1.7em;
  }
  a:hover{
  // text-decoration: underline;
  }
}
.socialoutline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  float: left;
}

@media all and (max-width: 991px) {}
@media all and (max-width: 767px) {
	.ianfooter{
		padding: 10% 10%;
		flex-direction: column;
		// position: fixed;
		bottom: 0;
		width: 100%;
		margin-left: 0;
	
	}
	.footerthankyou{
		padding: 0 0 10% 0;
			p{
			text-align: center;
			font-size: 13px;
			}
	}
}
@media all and (max-width: 480px) {
	.footersocial {
		padding-top: 5%
	}
	.ianFooter {
		width: 100%;
		margin-left: 0;
	}
}

// EVENT PAGE SCSS STARTS HERE
.event-dates{
	h3{
		margin: 0;
	}
	p{
		margin: 0;
	}
}
.rowEvent{
  outline: none;
  display: flex;
  flex-direction: row;
}
.rowEvent .cellEventIntro {
    margin-left: 0;
    margin-right: 0;
		padding-bottom: 5%;
		h3{
			margin: 0;
      font-size: 2vw;
		}
		h1{
			margin: 0;
	    font-size: 4.5vw;
		}
}
.rowEvent .cellEvent {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
}
.event-intro {
  padding: 10% 10% 10% 10%;
}
.event-floorplan {
	padding: 0% 10% 10% 10%;
}
.map-copy {
  padding: 0 5% 8% 5%;
	p {
	font-family: 'SuisseIntl-Book';
    font-size: 2em;
    line-height: 1.21em;
    color: #191919;
    margin-top: 0;
	}
}
.space-top {
 	padding-top: 18px;
  	font-family: 'SuisseIntl-Book';
    font-size: 2em;
    line-height: 1.21em;
    color: #191919;
    margin-bottom: 10px;
    margin-top: 10px;
}
.buttonDirections{
	// .buttonWrapper{
	// 	width: 100%;
	// 	margin: auto;
	// }
}

.event-floor-plan-header {
	margin-top: -10px;
}
.event-floorplan {
	h3{
		font-size: 3vw;
	}
}

.seattle-presents {
	margin-bottom: 14px;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; }

@media all and (max-width: 991px) {

}
@media all and (max-width: 767px) {
	.rowEvent{
	  outline: none;
	  display: flex;
	  flex-direction: column;
		justify-content: center;
		}
		.rowEvent .cellEvent {
		    width: 100%;
		    margin-left: 0;
		    margin-right: 0;
		    height: 50vh;
		    margin-bottom: 10%;
		}
		.map-copy{
			text-align: center;
		}
		.event-floorplan{
			h3{
				font-size: 4vw;
				text-align: center;
			}
		}
		.rowEvent .cellEventIntro {
				text-align: center;
				padding-bottom: 15%;
				h3{
					margin: 0;
					font-size: 3vw;
				}
				h1{
					margin: 0;
					font-size: 5vw;
				}
		}
		.map{
			padding-bottom: 15%;
		}
	}
@media all and (max-width: 480px) {
	.rowEvent .cellEventIntro {
			text-align: center;
			padding-bottom: 15%;
			h3{
				margin: 0;
	      font-size: 3vw;
			}
			h1{
				margin: 0;
		    font-size: 5vw;
			}
	}
	.event-floorplan{
		h3{
			font-size: 4vw;
			text-align: center;
		}
	}
}
