// STUDENT PAGE SCSS GOES HERE

.black-bar-long {
    height: 2px;
    width: 14em;
    background-color: $color__black;
    margin-top: 5px;
}

.students-names {
    margin-bottom: 10px;
}

.students-images__div {
    .headshot {
        display: inherit;
    }

    .headshot_hover {
        display: none;
    }
}

.students-images__div:hover {
    .headshot {
        display: none;
    }

    .headshot_hover {
        display: inherit;
    }
}

.students-focus {}

#students {
    .students-grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 3em 5em;
        .students {
            flex: 0 30%;
            justify-content: center;
            align-items: center;
            margin-right: 5%;
            &:nth-of-type(3n-1) {
                margin-top: 40px;
            }
            &:nth-of-type(3n) {
                margin-right: 0;
            }

            .students-images {
                max-width: 100%;
                height: auto;
                margin-top: 0px;
            }
        }
    }
    
}


//  SEARCH AND FILTER


label {
    cursor: pointer;
}

input.radio {
    visibility: hidden;
}

input:hover + label {
    border-bottom: 2px solid;
}

input:checked + label {
    border-bottom: 2px solid;
}

#filterAll {}

#filterGraphicDesign {}

#filterVisualMedia {}


.search-filter {
    height: 8em;
    background-color: $color__black;
    color: $color__white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0em;
}

input[type=search] {
    color: $color__white;
    text-align: left;
    cursor: pointer;
}

#searchInput {
    border: 0;
    border-radius: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid;
    color: $color__white;
}

#searchInput::-webkit-input-placeholder {
    font-size: 12px;
    color: #FBF9F4;
}

//  SIDEBAR 

.site-header {
    height: 100%;
    width: 100%;
}

.site-content {
    width: calc(100% - 30em);
    margin-left: 30em;
    min-height: 100%;

    &.no-nav {
        width: 100%;
        margin-left: 0;
    }
}

#logo {
    padding: 2em;
    height: auto;
    max-width: 93%;
}

hr {
    border-top: 2px solid;
    border-left: 0px;
    border-color: $color__black;
}


// NAVIGATION

.primary-navigation {
    background-color: $color__white;
    width: 30em;
    height: 100%;
    position: fixed;
    padding: 2em;
    text-align: center;
    z-index: 999;
    border-right: black 3px solid;

    
}

nav {
    text-align: left;
}

.navItem {

    display: inline;
    &.active {
        text-decoration: underline;
    }
    .primary-nav-items {
        margin: 0 0 20px;
    }

}

// .navItem:hover,
// .navItemActive {
//     border-left: $color__black 20px solid;
//     padding-left: 1em;
// }



//  MEDIA QUERIES


@media only screen 
and (min-width : 481px) 
and (max-width : 767px) {
   .navItem .primary-nav-items {
    margin-bottom: 0;
   } 
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px) {
    .navItem .primary-nav-items {
    margin-bottom: 0;
   }
  }

@media all and (max-width: 639px) {


    //  SIDEBAR & NAVIGATION

    .site-content {
        height: auto;
        margin-top: 13em;
        width: 100%;
        margin-left: 0;
        min-height: 100%;
    }

    .primary-navigation {
        display: inline-flex;
        background-color: $color__white;
        height: 13em;
        width: 100%;
        position: fixed;
        padding: 1em;
        top: 0;
    }


    #logo {
        max-height: 30vh;
    }
    .primary-navigation {
        align-items: flex-end;
    }
    .primary-navigation a {
        width: 70px;
    }

    #show-details {
        display: none;
        h3, h4 {
            margin: 7px 0 7px;
        }
    }

    hr {
        display: none;
    }

    nav {
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        flex-direction: row;
    }
    p.students-focus.subhead {
        font-size: 3.2em;
    }



    //  STUDENTS
    #students {
        .students-grid {
            .students {
                flex: 0 100%;
                margin-right: 0;
                margin-bottom: 40px;
                &:nth-of-type(3n-1) {
                    margin-top: 0px;
                    margin-right: 0px;
                }
                &:nth-of-type(3n) {
                    margin-right: auto;
                }
            }
        }
    }

    //    SEARCH AND FILTER

    .search-filter {
        height: 20em;
        width: 100vw;
        background-color: $color__black;
        color: $color__white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: sticky;
        margin-top: 10em;
    }
    #searchInput::-webkit-input-placeholder {
    font-size: 7.5px;
    color: #FBF9F4;
    }
}

@media all and (min-width: 640px) and (max-width: 991px) {


    //  STUDENTS
    #students {
        .students-grid {
            .students {
                flex: 0 45%;
                margin-bottom: 40px;
                &:nth-of-type(3n-1) {
                    margin-top: 0px;
                    margin-right: 0px;
                }
                &:nth-of-type(3n) {
                    margin-right: auto;
                }
                &:nth-of-type(odd) {
                    margin-right: 5%;
                }
            }
        }
    }
    #searchInput::-webkit-input-placeholder {
        font-size: 7.5px;
        color: #FBF9F4;
    }
    .search-filter {
        margin-top: 10em;
    }

}

@media all and (max-height: 849px) {
    #sidebar-nav #works-student.shownav {
        display: none;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {


    //  STUDENTS
    #students {
        .students-grid {
            .students {
                flex: 0 45%;
                margin-bottom: 40px;
                &:nth-of-type(3n-1) {
                    margin-top: 0px;
                    margin-right: 0px;
                }
                &:nth-of-type(3n) {
                    margin-right: auto;
                }
                &:nth-of-type(odd) {
                    margin-right: 5%;
                }
            }
        }
    }

    .students-test:nth-of-type(odd) {
        grid-column-start: 2;

    }

    .students-test:nth-of-type(even) {
        grid-column-start: 3;
        align-self: end;
    }
    #searchInput::-webkit-input-placeholder {
        font-size: 9px;
        color: #FBF9F4;
    }
}