// STUDENT PAGE SCSS GOES HERE

.black-bar-long {
    height: 1px;
    width: 14em;
    background-color: black;
    margin-top: 5px;
}

.students-names {}

.students-images {
    max-width: 100%;
    height: 25em;
}

.students-focus {}


//  Media Queries

@media all and (max-width: 639px) {
    .students-images {
        max-width: 100%;
        height: auto;
        margin-top: 0;
    }


    .students-grid {
        display: grid;
        grid-template-columns: 5em 1fr 5em;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-row-gap: 5em;
        justify-items: center;
        align-items: start;
    }

    .students-test:nth-of-type(n) {
        grid-column-start: 2;
    }
}

@media all and (min-width: 640px) and (max-width: 991px) {
    
    .students-images {
        max-width: 100%;
        height: auto;
        margin-top: 0px;
    }

    .students-grid {
        display: grid;
        grid-template-columns: 5em 1fr 1fr 5em;
        grid-column-gap: 5em;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-row-gap: 5em;
        justify-items: center;
        align-items: start;
    }

    .students-test:nth-of-type(odd) {
        grid-column-start: 2;
    }

    .students-test:nth-of-type(even) {
        grid-column-start: 3;
    }
}

@media all and (min-width: 992px) {
    
    .students-images {
        max-width: 90%;
        height: auto;
        margin-top: 0px;
    }
    
    .students-grid {
        display: grid;
        grid-template-columns: 5em 1fr 1fr 1fr 5em;
        grid-column-gap: 5em;
        grid-template-rows: repeat(auto-fill, fr);
        grid-row-gap: 5em;
        justify-items: center;
        align-items: start;
    }

    .students-test:nth-of-type(3n-2) {
        grid-column-start: 2;
    }

    .students-test:nth-of-type(3n-1) {
        grid-column-start: 3;
//        grid-row-start: 4;
    }

    .students-test:nth-of-type(3n) {
        grid-column-start: 4;
//        grid-row-start: 3;
    }
}
