// STUDENT PAGE SCSS GOES HERE

.black-bar-long {
    height: 2px;
    width: 14em;
    background-color: $color__black;
    margin-top: 5px;
}

.students-names {}

.students-images {
    max-width: 100%;
    height: 25em;
}

.students-focus {}


//  SEARCH AND FILTER


label {
    cursor: pointer;
}

input.radio {
    visibility: hidden;
}

input:hover + label {
    border-bottom: 2px solid;
}

input:checked + label {
    border-bottom: 2px solid;
}

#filterAll {}

#filterGraphicDesign {}

#filterVisualMedia {}


.search-filter {
    height: 8em;
    background-color: $color__black;
    color: $color__white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    bottom: 0em;
}

input[type=search] {
    color: $color__white;
    text-align: left;
    cursor: pointer;
}

#searchInput {
    border: 0;
    border-radius: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid;
    color: $color__white;
}

#searchInput::-webkit-input-placeholder {
    font-size: 12px;
    color: grey;


}


//input[type="search"]::-webkit-search-cancel-button {
//
//    /* Remove default */
//    -webkit-appearance: none;
//
////    /* Now your own custom styles */
//    height: 2em;
//    width: 2em;
//    background: $color__white;
//}


//  SIDEBAR 

.site-header {
    height: 100%;
    width: 100%;
}

.site-content {
    width: calc(100% - 30em);
    margin-left: 30em;
    min-height: 100%;
}

#logo {
    padding: 2em;
}

hr {
    border-top: 2px solid;
    border-left: 0px;
    border-color: $color__black;
}


// NAVIGATION

.primary-navigation {
    background-color: $color__white;
    width: 30em;
    height: 100%;
    position: fixed;
    padding: 2em;
    text-align: center;
    z-index: 999;
    border-right: black 2px solid;
}

nav {
    text-align: left;
}

.navItem {
    display: inline;
    &.active {
        text-decoration: underline;
    }
    .primary-nav-items {
        margin: 0 0 20px;
    }
}

// #navEventlink:hover::before {
//     content: "";
//     display: block;
//     height: 2em;
//     width: 4em;
//     align-self: center;
//     background: $color__black;
// }

#sidebar-nav {
    .hideNav {
        display: none;
    }

    .showNav {
        display: block;
    }
}



//  MEDIA QUERIES

@media all and (max-width: 639px) {


    //  SIDEBAR & NAVIGATION

    .site-content {
        height: calc(100% - 13em);
        margin-top: 13em;
        width: 100%;
        margin-left: 0;
        min-height: 100%;
    }

    .primary-navigation {
        display: inline-flex;
        background-color: $color__white;
        height: 13em;
        width: 100%;
        position: fixed;
        padding: 1em;
        top: 0;
    }

    #logo {
        padding: 1em;
        max-height: 100%;
    }

    #show-details {
        display: none;
        h3, h4 {
            margin: 7px 0 7px;
        }
    }

    hr {
        display: none;
    }

    nav {
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 100%;
    }


    //  STUDENTS

    .students-images {
        max-width: 100%;
        height: auto;
        margin-top: 0;
    }


    .students-grid {
        display: grid;
        grid-template-columns: 5em 1fr 5em;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-row-gap: 5em;
        justify-items: center;
        align-items: start;
    }

    .students:nth-of-type(n) {
        grid-column-start: 2;
    }

    //    SEARCH AND FILTER

    .search-filter {
        height: 20em;
        background-color: $color__black;
        color: $color__white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: sticky;
    }
}

@media all and (min-width: 640px) and (max-width: 991px) {


    //  STUDENTS

    .students-images {
        max-width: 100%;
        height: auto;
        margin-top: 0px;
    }

    .students-grid {
        display: grid;
        grid-template-columns: 5em 1fr 1fr 5em;
        grid-column-gap: 5em;
        //        grid-template-rows: repeat(auto-fill, 1fr);
        grid-auto-rows: minmax(min-content, 70vw);
        grid-row-gap: 5em;
        justify-items: center;
        align-items: start;
    }

    .students:nth-of-type(odd) {
        grid-column-start: 2;
    }

    .students:nth-of-type(even) {
        grid-column-start: 3;
        align-self: end;
    }
}

@media all and (min-width: 992px) {


    //  STUDENTS

    .students-images {
        max-width: 90%;
        height: auto;
        margin-top: 0px;
    }

    .students-grid {
        display: grid;
        grid-template-columns: 5em 1fr 1fr 1fr 5em;
        grid-column-gap: 5em;
        //        grid-template-rows: repeat(auto-fill, fr);
        grid-auto-rows: minmax(min-content, 45vw);
        grid-row-gap: 5em;
        justify-items: center;
        align-items: start;
    }

    .students:nth-of-type(3n-2) {
        grid-column-start: 2;
    }

    .students:nth-of-type(3n-1) {
        grid-column-start: 3;
        align-self: end;
    }

    .students:nth-of-type(3n) {
        grid-column-start: 4;
    }
}
