// WORK PAGE SCSS GOES HERE
html,
body {
    background-color: #FBF9F4;
    height: 100%;
    width: 100%;
    margin-top: 0 !important;
    padding: 0;
}

#page {
    height: 100%;
}

.project-title {
    color: #191919;
    margin-bottom: 10px;
}

.project-type {
    color: #191919;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'SuisseWorks-RegularItalic';
}

.black-bar {
    background-color: #191919;
    margin: 5px auto 0;
    height: 2px;
    width: 14em;
}

#jumbotron {
    height: 100%;
    width: 100%;
}

#sidebar-nav {
    #works-student {
        transition: opacity 0.3s ease-out;
        &.hideNav {
            display: block;
            opacity: 0;
        }
        &.showNav {
            display: block;
            opacity: 1;
        }
    }
    #student {
        transition: opacity 0.3s ease-out;
        &.hideNav {
            display: block;
            opacity: 0;
        }
        &.showNav {
            display: block;
            opacity: 1;
        }
        .three-categories-focus {
            text-align: left;
            margin-bottom: 15px;
            p {
                margin: 5px 0;
            }
        }
    }
}

#works-student {
    #name {
        text-align: center;
        color: #191919;
        font-size: 3em;
        margin-top: 5px;
    }
}

.works-grid-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5em;
    align-items: center;
    .works-grid-inner-container {
        flex: 0 50%;
        margin-bottom: 5em;
        .works-grid {
            height: 100%;
            margin: 0 5em 5em;
            .works-container {
                text-align: center;
                .works-images-container {
                    text-align: center;
                }
                img {
                    max-height: 450px;
                    max-width: 100%;
                }
            }
        }
        &:nth-of-type(odd) {
            .works-grid .works-container {
                grid-column: 2 / span 6;
                grid-row: 1 / span 7;
            }
        }
        img {
            max-width: 100%;
        }
        &:nth-of-type(even) {
            .works-grid {
                grid-template-columns: repeat(7, 1fr);
                .works-container {
                    grid-column: 1 / span 6;
                    grid-row: 1 / span 7;
                }
            }
        }
    }
}

.secondary {
    grid-column: 4/span 4;
    margin-left: 2em;
}

#project-links {
    grid-column: 9 / span 4;
}

// STUDENT PAGE

.bottom-student-navigation {
    background-color: $color__black;
    display: flex;
    align-items: center;
    justify-content: space-between;
     position: fixed;
    bottom: 0;
    width: 84%;
}

.student-post-links {
    color: $color__white;
    font-size: 2.5em;
    margin-right: 1.5em;
    margin-left: 1em;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    a:visited {
        color: white;
    }
    a:active {
        color: white;
    }
    a:link {
        color: white;
    }
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.single-post-h2 {
	color: $color__black;
	font-size: 4.5em;
    margin-bottom: 0;
    // margin-top: 24px;
    margin-top: 16px;
}

.single-post-headshot {
    height: 32em;
    margin-left: 2em;
    margin-top: 1.7em;
    margin-bottom: 3.7em;
    grid-column: 1 / span 3;
}

.single-post-headshot-sidenav {
    height: auto;
}

.portfolio-site-link-style-sidenav {
    text-align: left;
    margin-bottom: 18px;
    margin-top: 10px;
    color: #191919;
}

.socialSection-side-nav {
    font-size: 7px;
    text-align: left;
}

.portfolio-site-link-style {
    color: #191919;
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-top: 20px;
}

.student-post-page-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 2em;
    margin-top: 2em;
}

.focus {
    margin-bottom: 0;
	font-size: 2em;
	color: $color__black;
    font-family: 'SuisseWorks-RegularItalic';
}

.three-categories-focus {
    grid-column-start: 2;
}

.siteLink {
    grid-column-start: 2;
}

.black-divider-line {
    background-color: $color__black;
    height: 2px;
    width: 95%;
    margin: 0 auto;
}

.fab {
	font-size: 2.5em;
	color: $color__black;
    font-size: 2.5em;
    color: #191919;
    margin-right: 20px;
}

.site-header {
	height: 100%;
	width: 100%;
}

// VERTICLE GRID

.grid-verticle-two {
	display: flex;
    flex-wrap: wrap;
    margin: 0 66px 0;
    .imageGrid {
        flex: 0 calc(50% - 33px);
        margin: 66px 0 0;
        &:nth-of-type(odd) {
            margin-right: 66px;
        }
		img {
			max-width: 100%;
		}
	}
}

.grid-horizontal-two {
	display: flex;
    flex-wrap: wrap;
    margin: 0 66px 0;
    .imageGrid {
		flex: 0 calc(50% - 33px);
        margin: 66px 0 0;
        &:nth-of-type(odd) {
            margin-right: 66px;
        }
		img {
			max-width: 100%;
		}
	}
}

.grid-full-width {
    display: flex;
    flex-wrap: wrap;
    margin: 0 66px 0;
    .imageGrid {
        flex: 0 100%;
        margin: 66px 0 0;
        img {
            width: 100%;
        }
    }
}

.grid-landscape {
    display: flex;
    flex-wrap: wrap;
    margin: 0 66px 0;
    .landscape {
        flex: 0 100%;
        margin: 66px 0 0;
    }
}

.grid-video {
    display: flex;
    flex-wrap: wrap;
    margin: 0 66px 0;
    position: relative;
    .video {
        flex: 0 100%;
        margin: 66px 0 0;
        padding-bottom: 0;
        height: 100%; 
        overflow: hidden;
        position: relative;
    }
    .video iframe,
    .video object,
    .video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.projects {
    padding-bottom: calc(4em + 33px);
}

.project-images {
    padding-bottom: 66px;
}

.featured-project {
    display: flex;
    margin-right: 66px;
    margin-left: 66px;
    margin-top: 66px;
    > div {
        flex: 1;
        &:first-of-type {
            margin-right: 66px;
        }
    }
    .featured-project-image {
        max-height: 600px;
        max-width: 100%;
    }
}

.featured-project-type {
    color: #191919;
}

.project-title-student-single {
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 30px;
}

.paragraph-project-type {
    margin-top: 10px;
    font-size: 2.5em;
    margin-bottom: 18px;
}

.primary-nav-items:hover {
    text-decoration: underline;
}

.small-nav-student-post-page {
    list-style-type: none;
    font-family: 'SuisseIntl-Book';
    color: #191919;
    font-size: 20px;
    text-align: right;
    margin-right: 2em;
    margin-left: 0;
    margin-top: 16px;
}

.ultra-small-side-nav {
    list-style-type: none;
    font-family: 'SuisseIntl-Book';
    color: #191919;
    font-size: 2em;
    text-align: left;
    margin-right: 2em;
    margin-left: 0;
    margin-top: 30px; 
    padding-left: 0;
}

#project-links, #side-nav-project-links {
    ul li {
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.projects-h3-style {
    text-align: right;
    margin-right: 2em;
    margin-bottom: 0;
    margin-top: 1.9em;
}

a.collaborators.siteLink {
    font-family: 'SuisseIntl-Book';
    line-height: 1.21em;
    font-size: 16px;
    margin-top: 12px;
}

.collaboratortitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}

.projectDescription {
    font-size: 1em;
    margin-top: 27px;
    width: 50%;
}

.black-bar-collab {
    background-color: #191919;
    margin-top: 5px;
    height: 2px;
    width: 30em;
}

#project-breaks {
    width: 47%;
}

h4.subhead {
    font-family: 'SuisseWorks-RegularItalic';
    margin-bottom: 2em;
    margin-top: 10px;
}

.date-ui {
    margin-top: 1em;
    margin-bottom: 0px;
}

div#navStudents:hover {
    border-left: none;
}

#scca-visited:visited {
    color: #FBF9F4;
} 

// SPLASH PAGE CODE
.temp-h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 4em;
    &:first-of-type {
        margin-top: 20px;
        font-size: 5em;
    }
}

#main {
    text-align: center;
}

#temp-home-logo {
    width: 50%;
}

#content.no-nav {
    width: 100%;
    margin-left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

#student {
    margin-top: -5em;
}

#sidebar-nav #student .three-categories-focus p {
    // margin-top: 1em;
}

a.siteLink {
    hyphens: auto;
}

// EVENT CODE UPDATED

.oops-button {
    background-color: black;
    color: #FBF9F4;
    border-radius: 0;
    border: none;
    height: 2.5em;
    width: 8.5em;
    font-family: 'SuisseIntl-Book';
    padding-top: 6px;
}

.button-link-oops {
    font-size: 12px;
}

/*MEDIA QUERIES MOBILE*/
@media only screen 
  and (min-width: 320px) 
  and (max-width: 500px) {
    .bottom-student-navigation {
        width: 100%;
    }
    div#sidebar-nav {
        border: none;
        align-items: center;
        display: flex;
    }
    .small-nav-student-post-page {
        display: none;
    }
    .single-post-headshot {
        grid-column: 1 / span 5;
        height: 25em;
    }
    .secondary {
        grid-column: 7/span 4;
    }
    .single-post-h2 {
        margin-top: 0;
        font-size: 4em;
    }
    .portfolio-site-link-style {
        margin-bottom: 8px;
        margin-top: 15px;
    }
    .featured-project {
        display: flex;
        margin-right: 66px;
        width: calc(100% - 66px - 6em);
        margin-left: 6em;
        margin-top: 3em;
    }
    #searchInput::-webkit-input-placeholder {
        color: #191919;
    }
    #searchInput {
        border: 0;
        border-radius: 0;
        outline: 0;
        background: transparent;
        border-bottom: 2px solid;
        color: #FBF9F4;
        -webkit-appearance: none;
    }

    label {
        font-size: 14px;
    }
    .projectDescription {
        width: 120%;
    }
    .grid-horizontal-two {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: calc(100% - 20px);
        height: 100%;
        margin: 10px;
    }
    .grid-verticle-two {
        width: calc(100% - 20px);
        margin: 10px;
        flex-direction: column;
        .imageGrid {
            flex: 0 calc(50% - 5px);
            margin: 10px 0 0;
            &:nth-of-type(odd) {
                margin-right: 0;
            }
        }
    }
    .grid-horizontal-two .imageGrid:nth-of-type(odd) {
        margin: 0;
        margin-top: 30px;
    }
    .grid-full-width {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .grid-landscape {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .grid-video {
        width: calc(100% - 20px);
        margin: 10px;
    }
    #sidebar-nav #works-student.showNav, #sidebar-nav #student.showNav {
        opacity: 0;
        display: none;
    }
    #sidebar-nav #student.hideNav {
        display: none;
    }
    #content.no-nav {
        margin-top: 0;
    }
    .works-grid-container .works-grid-inner-container {
        flex: 0 100%;
    }
    .imageGrid {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

/*IPAD MEDIA QUERY*/
@media only screen
and (min-width : 768px) 
and (max-width : 1024px) {
    #content.no-nav {
        margin-top: 0;
    }
    label {
        font-size: 9px;
    }
    .student-post-links {
        margin-right: 5em;
    }
    .single-post-headshot {
        grid-column: 1 / span 4;
    }
    .secondary {
        grid-column: 5/span 5;
        margin-left: 5em;
    }
    #project-links {
        grid-column: 10 / span 3;
    }
    .small-nav-student-post-page {
        font-size: 15px;
        margin-top: 21px;
    }
    .single-post-h2 {
        margin-top: 14px;
    }
    .projectDescription {
        width: 100%;
    }
}

@media only screen 
and (min-width : 481px) 
and (max-width : 767px) {
    #content.no-nav {
        margin-top: 0;
    }
    #sidebar-nav #works-student.showNav, #sidebar-nav #student.showNav {
        opacity: 0;
    }
    #sidebar-nav #works-student.hideNav {
        display: none;
    }
}

/*IPAD PRO AND LARGER TABLETS*/
@media only screen 
and (min-width : 1024px) 
and (max-width : 1366px) {
    #content.no-nav {
        margin-top: 0;
    }
    .three-categories-focus {
        margin-left: 3em;
    }
    .single-post-h2 {
        margin-left: 22px;
        margin-top: 11px;
    }
    .portfolio-site-link-style {
        margin-left: 22px;
    }
    .socialSection {
        margin-left: 22px; 
    }
    .focus {
        margin-top: 10px;
    }
    p.portfolio-site-link-style {
        font-size: 18px;
    }
    .student-post-links {
        margin-right: 3.5em;
    }
    .single-post-headshot {
        height: 30em;
    }
    .projectDescription {
        width: 80%;
    }
     .portfolio-site-link-style-sidenav {
        margin-bottom: 5px;
    }
    #sidebar-nav {
        #student {
            .three-categories-focus {
                margin-left: 0;
            }
        }
    }

}