// WORK PAGE SCSS GOES HERE
html,
body {
    background-color: #FBF9F4;
    height: 100%;
    width: 100%;
    margin-top: 0 !important;
    padding: 0;
}

#page {
    height: 100%;
}

.project-title {
    font-family: "SuisseWorks-Bold";
    margin-bottom: 10px;
}

.project-type {
    font-family: "SuisseWorks-MediumItalic";
    margin-top: 0;
    margin-bottom: 0;
}

.black-bar {
    height: 1px;
    width: 7em;
    background-color: black;
    margin-top: 5px;
}

.works-images {
    max-width: 100%;
    height: 30em;
    margin-top: 5em;
}

.works-grid {
    display: grid;
    grid-template-columns: 5em 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 50em);
    justify-items: center;
    align-items: center;
}

.works-container:nth-of-type(odd) {
    grid-column-start: 2;
}

.works-container:nth-of-type(even) {
    grid-column-start: 3;
    margin-top: 25em;
}

.search-filter {
    height: 2.7em;
    width: 100%;
    background-color: $color__black;
    position: sticky;
    bottom: 0;
}

.primary-nav {
    grid-column-start: 1;
    background-color: red;

}

// CONSTRUCTION PAGE

.construction-image {
    margin: 0;
    margin-top: 0;
    height: 45em;
    max-width: 100%;
}

.construction-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder-video {
    // width: 640px;
    // height: 360px;
    // background-color: $color__black; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.placeholder-video-two {
    display: flex;
    justify-content: center;
    grid-row-start: 2;
    grid-column-start: 2;
    flex-direction: column;
}

.placeholder-video-three {
    width: 640px;
    height: 360px;
    background-color: $color__black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 4;
    grid-column-start: 1;
}

.placeholder-video-text {
    font-family: SuisseWorks-Bold;
    color: $color__white;
    font-size: 3em;
}

.construction-video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
    margin: 0 auto;
    justify-items: center;
    margin: 20px;
}

.placeholder-video-four {
    width: 640px;
    height: 360px;
    background-color: $color__black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 6;
    grid-column-start: 2;
}

// font-size: 2em;
// color: black;
// margin-top: 0;

// STUDENT PAGE

.bottom-student-navigation {
    background-color: $color__black;
    display: flex;
    align-items: center;
    justify-content: space-between;
     position: fixed;
    bottom: 0;
    width: 100%;
}

.student-post-links {
    color: $color__white;

}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;

}

.single-post-h2 {
	color: $color__black;
	font-size: 4.5em;
}

.single-post-headshot {

	height: 32em;
    margin-left: 2em;
    margin-top: 1.7em;
    margin-bottom: 3.7em;

    // height: 15em; sean

}

.student-post-page-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 2em;
    margin-top: 2em;
}



.focus {
	    margin-bottom: 0;
	    font-size: 2em;
	    color: $color__black;
}


.three-categories-focus {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
}

.siteLink {
    grid-column-start: 2;
}

.black-divider-line {
    background-color: $color__black;
    height: 2px;
    width: 95%;
    margin: 0 auto;
}


.fab {
	font-size: 2.5em;
	color: $color__black;
}

// NAVIGATION
.site-header {
	height: 100%;
	width: 100%;
}




// GRID GRID GRID VERTICLE GRID

.grid-verticle-two {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-gap: 3em;
	margin-bottom: 3em;
	.imageGrid {
		&:first-of-type {
			grid-column: 2 / span 5;
			grid-row: 1 / span 7;
		}
		img {
			max-height: 800px;
			max-width: 100%;
		}
		&:nth-of-type(2) {
			grid-column: 8 / span 5;
			grid-row: 2 / span 7;
		}
	}
}

.grid-horizontal-two {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-gap: 3em;
	margin-bottom: 3em;
	.imageGrid {
		&:first-of-type {
			grid-column: 2 / span 5;
			grid-row: 1 / span 7;
		}
		img {
			max-height: 800px;
			max-width: 100%;
		}
		&:nth-of-type(2) {
			grid-column: 8 / span 5;
			grid-row: 3 / span 7;
		}
	}
}

.grid-horizontal-then-vertical {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-gap: 3em;
	margin-bottom: 3em;
	.imageGrid {
		&:first-of-type {
			grid-column: 2 / span 5;
			grid-row: 1 / span 7;
		}
		img {
			max-height: 800px;
			max-width: 100%;
		}
		&:nth-of-type(2) {
			grid-column: 8 / span 5;
			grid-row: 3 / span 7;
		}
	}
}

.video {
	width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


